* {
  list-style: none;
  font-family: "Noto Sans KR";
  color: #101010;
  word-break: keep-all;
  box-sizing: border-box;
}

.boldText {
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.02em;
}
