* {
  list-style: none;
  font-family: "Noto Sans KR";
  color: #101010;
  word-break: keep-all;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .bold_text {
    font-size: 20px;
    line-height: 29px;
  }
}

input:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  line-height: 5;
}

.gray_text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #939393;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
