* {
  list-style: none;
  font-family: "Noto Sans KR", "Poppins";
  color: #101010;
  word-break: keep-all;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  line-height: 5;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.gray_text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #939393;
}

/* 전체 적용 폰트 */
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  src: url("styles/fonts/noto-sans-kr-v27-latin/noto-sans-kr-v27-latin-regular.eot"),
    url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot"),
    url("styles/fonts/poppins-v20-latin/poppins-v20-latin-700.woff"); /* IE9 Compat Modes */
  src: local(""),
    url("styles/fonts/noto-sans-kr-v27-latin/noto-sans-kr-v27-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("styles/fonts/noto-sans-kr-v27-latin/noto-sans-kr-v27-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("styles/fonts/noto-sans-kr-v27-latin/noto-sans-kr-v27-latin-regular.woff")
      format("woff"),
    /* Safari, Android, iOS */
      url("styles/fonts/noto-sans-kr-v27-latin/noto-sans-kr-v27-latin-regular.svg#NotoSansKR")
      format("svg"),
    url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.svg#Poppins")
      format("svg");
  font-style: normal;
}

/* 한글 적용 폰트 noto-sans-kr-regular - latin */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("styles/fonts/noto-sans-kr-v27-latin/noto-sans-kr-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("styles/fonts/noto-sans-kr-v27-latin/noto-sans-kr-v27-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("styles/fonts/noto-sans-kr-v27-latin/noto-sans-kr-v27-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("styles/fonts/noto-sans-kr-v27-latin/noto-sans-kr-v27-latin-regular.woff")
      format("woff"),
    /* Safari, Android, iOS */
      url("styles/fonts/noto-sans-kr-v27-latin/noto-sans-kr-v27-latin-regular.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
  unicode-range: U+AC00-D7A3;
}

/* 숫자, 영문, 특수문자 적용 폰트 poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot"),
    url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-regular.svg#Poppins")
      format("svg"),
    /* Legacy iOS */
      url("styles/fonts/poppins-v20-latin/poppins-v20-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("styles/fonts/poppins-v20-latin/poppins-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */
      url("styles/fonts/poppins-v20-latin/poppins-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("styles/fonts/poppins-v20-latin/poppins-v20-latin-500.svg#Poppins")
      format("svg"),
    /* Legacy iOS */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./styles/fonts/poppins-v20-latin/poppins-v20-latin-600.svg#Poppins")
      format("svg"),
    /* Legacy iOS */
      url("styles/fonts/poppins-v20-latin/poppins-v20-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("styles/fonts/poppins-v20-latin/poppins-v20-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("styles/fonts/poppins-v20-latin/poppins-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("styles/fonts/poppins-v20-latin/poppins-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("styles/fonts/poppins-v20-latin/poppins-v20-latin-700.svg#Poppins")
      format("svg"); /* Legacy iOS */
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0020-002F, U+003A-0040,
    U+005B-0060, U+007B-007E;
}

/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap"); */
