.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 200;
}

.close_modal {
  width: 312px;
  height: 124px;
  position: fixed;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-overflow-scrolling: touch;
  border-radius: 5px;
  outline: none;
  padding: 24px;
  z-index: 150;
}

.bank_modal {
  height: 390px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0%;
}
